/* This defines styles and classes used in the book */

.serpent {
  font-family: Parseltongue;
}

.underline {
  text-decoration-line: underline;
}

@font-face {
   font-family: Parseltongue;
   font-style: normal;
   font-weight: normal;
   src:url("../fonts/Parseltongue.woff2") format("woff2");
}


